<body class="nk-body body-wider bg-theme">

	<div class="nk-wrap">
		<header class="nk-header page-header is-transparent is-sticky is-dark" id="header">
		    <!-- Header @s -->
			<div class="header-main">
				<div class="header-container container container-xxl">
					<div class="header-wrap">
						<!-- Logo @s -->
						<div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
							<a href="./" class="logo-link">
								<img class="logo-dark" src="<%= asset_path('indieloot_logo3_1x.png') %>" srcset="<%= asset_path('indieloot_logo3_2x.png') %> 2x" alt="logo">
								<img class="logo-light" src="<%= asset_path('indieloot_logo3_1x.png') %>" srcset="<%= asset_path('indieloot_logo3_2x.png') %> 2x" alt="logo">
							</a>
						</div>

						<!-- Menu Toogle @s -->
						<div class="header-nav-toggle">
							<a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                <div class="toggle-line">
                    <span></span>
                </div>
              </a>
						</div>

						<!-- Menu @s -->
						<div class="header-navbar animated" data-animate="fadeInDown" data-delay=".6">
							<nav class="header-menu" id="header-menu">
    <ul class="menu">
    <li class="menu-item has-sub">
        <a class="menu-link nav-link menu-toggle" href="#">Home</a>
        <div class="menu-sub menu-drop menu-mega menu-mega-3clmn">
            <div class="menu-mega-innr">
                <ul class="menu-mega-list">
                    <li class="menu-item"><a href="index-salvia.html">Salvia Pro</a></li>
                </ul>
                <ul class="menu-mega-list">
                    <li class="menu-item"><a href="index-azure.html">Azure Dark</a></li>
                </ul>
                <ul class="menu-mega-list">
                    <li class="menu-item"><a href="index-dark-pro.html">Default Dark Pro</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="menu-item has-sub">
        <a class="menu-link nav-link menu-toggle" href="#">Pages</a>
        <ul class="menu-sub menu-drop menu-mega menu-mega-2clmn">
            <div class="menu-mega-innr">
                <ul class="menu-mega-list">
                    <li class="menu-item"><a class="menu-link nav-link" href="page-about.html">About Us - Base</a></li>
                </ul>
                <ul class="menu-mega-list">
                    <li class="menu-item"><a class="menu-link nav-link" href="page-download.html">Download</a></li>
                </ul>
            </div>
        </ul>
    </li>
    <li class="menu-item has-sub">
        <a class="menu-link nav-link menu-toggle" href="#">Blog & Misc</a>
        <ul class="menu-sub menu-drop">
            <li class="menu-item has-sub">
                <a class="menu-link nav-link menu-toggle" href="#">Blog Pages</a>
                <ul class="menu-sub menu-drop">
                    <li class="menu-item"><a class="menu-link nav-link" href="blog-3clmn.html">Blog 3 Column</a></li>
                </ul>
            </li>
            <li class="menu-item has-sub">
                <a class="menu-link nav-link menu-toggle" href="#">Ath Pages</a>
                <ul class="menu-sub menu-drop">
                    <li class="menu-item"><a class="menu-link nav-link" href="page-login.html">Login - v1</a></li>
                </ul>
            </li>
            <li class="menu-item has-sub">
                <a class="menu-link nav-link menu-toggle" href="#">Coming Soon<span class="badge badge-xs badge-info">NEW</span></a>
                <ul class="menu-sub menu-drop">
                    <li class="menu-item"><a class="menu-link nav-link" href="coming-soon-azalea.html" target="_blank">Coming Soon - Azalea</a></li>
                </ul>
            </li>
            <li class="menu-item has-sub">
                <a class="menu-link nav-link menu-toggle" href="#">Error 404<span class="badge badge-xs badge-info">NEW</span></a>
                <ul class="menu-sub menu-drop">
                    <li class="menu-item"><a class="menu-link nav-link" href="error-404-gentian.html" target="_blank">404 - Gentian</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu-item has-sub">
        <a class="menu-link nav-link menu-toggle" href="#">Elements</a>
        <div class="menu-sub menu-drop menu-mega menu-mega-2clmn">
            <div class="menu-mega-innr">
                <ul class="menu-mega-list">
                    <li class="menu-item"><a href="element-alert.html">Alert</a></li>
                </ul>
                <ul class="menu-mega-list">
                    <li class="menu-item"><a href="element-tab.html">Tabs</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>

    <ul class="menu-btns">
			<li>
				<a href="#" data-toggle="modal" data-target="#register-popup" class="btn btn-md btn-thin btn-outline btn-auto btn-primary btn-round no-change">
					<span>Assinar</span>
				</a>
			</li>
      <li>
				<a href="#" data-toggle="modal" data-target="#login-popup" class="btn btn-md btn-thin btn-outline btn-auto btn-secondary btn-round no-change">
					<span>Entrar</span>
				</a>
			</li>
    </ul>
</nav>
						</div><!-- .header-navbar @e -->
					</div>
				</div>
			</div><!-- .header-main @e -->

		</header>

        <main class="nk-pages tc-light">
            <!-- // -->
						<section class="section" id="why">

                <div class="container">
                    <div class="section-head section-head-s9 wide-sm">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Planos</h6>
                        <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">Escolha sua forma de assinatura</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing.</p>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row gutter-vr-30px justify-content-center">
													<a href="javascript:void(0)" onclick="selectPlan(0, 1)">
                            <div class="col-lg-6 col-md-6">
                                <div id="plan0" class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated"
																	data-animate="fadeInUp" data-delay=".4" style="border: 3px solid #f42f54;">
                                    <div class="feature-icon my-0">
																			<%= image_tag "medal.png" %>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Plano 1 </span>Experiência básica</h4>
                                        <p>Millions of datasets indexedin culpa qui officia id est laborum</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
													</a>
													<a href="javascript:void(0)" onclick="selectPlan(1, 0)">
                            <div class="col-lg-6 col-md-6">
                                <div id="plan1" class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon my-0">
                                        <%= image_tag "trophy.png" %>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Plano 2 </span>Experiência completa</h4>
                                        <p>Millions of datasets indexedin culpa qui officia id est laborum</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
													</a>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
										<div class="section-head section-head-s9 wide-sm">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Planos</h6>
                        <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">Crie sua conta</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing.</p>
                    </div>
										<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                				defaults: { input_html: { class: 'validate' } }) do |f| %>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<div class="field-item">
															<div class="field-wrap">
																<%= f.input :name,
																		required: true,
																		label: false,
                              			autofocus: true,
																		placeholder: "Seu nome",
																		input_html: { class: "input-bordered" } %>
															</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="field-item">
															<div class="field-wrap">
																<%= f.input :email,
																		required: true,
																		label: false,
																		placeholder: "Seu email",
																		input_html: { class: "input-bordered" } %>
															</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<div class="field-item">
															<div class="field-wrap">
																<%= f.input :password,
																		required: true,
																		label: false,
																		placeholder: "Sua senha",
																		input_html: { class: "input-bordered" } %>
															</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="field-item">
															<div class="field-wrap">
																<%= f.input :password_confirmation,
																		required: true,
																		label: false,
																		placeholder: "Repita sua senha",
																		input_html: { class: "input-bordered" } %>
															</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="field-item">
													<%= f.input_field :terms_of_service,
															required: true,
															boolean_style: :inline,
															class: "input-checkbox" %>
															<label for="user_terms_of_service">Concordo</label>
												</div>
											</div>
												<button class="btn btn-primary btn-block btn-md">Sign Up</button>
										<% end %>
                </div>
            </section>

        </main>

        <footer class="nk-footer-bar section section-s tc-light">
            <div class="container container-xxl">
                <div class="row gutter-vr-10px">
                    <div class="col-lg-6 order-lg-last text-lg-right">
                        <ul class="footer-nav">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of sales</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright-text copyright-text-s2">Copyright © 2019 ICO. Handcrafted by <a href="#">iO</a>.</div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="nk-ovm nk-ovm-repeat nk-ovm-fixed shape-i">
            <div class="ovm-line"></div>
        </div>
	</div>

	<!-- Modal @s -->
<div class="modal fade" id="login-popup">
			<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
							<a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
							<div class="ath-container m-0">
									<div class="ath-body bg-theme tc-light">
											<h5 class="ath-heading title">Sign in <small class="tc-default">with your ICO Account</small></h5>
											<form action="#">
													<div class="field-item">
															<div class="field-wrap">
																	<input type="text" class="input-bordered" placeholder="Your Email">
															</div>
													</div>
													<div class="field-item">
															<div class="field-wrap">
																	<input type="password" class="input-bordered" placeholder="Password">
															</div>
													</div>
													<div class="field-item d-flex justify-content-between align-items-center">
															<div class="field-item pb-0">
																	<input class="input-checkbox" id="remember-me-100" type="checkbox">
																	<label for="remember-me-100">Remember Me</label>
															</div>
															<div class="forget-link fz-6">
																	<a href="#" data-toggle="modal" data-dismiss="modal" data-target="#reset-popup">Forgot password?</a>
															</div>
													</div>
													<button class="btn btn-primary btn-block btn-md">Sign In</button>
											</form>
											<div class="sap-text"><span>Or Sign In With</span></div>

											<ul class="row gutter-20px gutter-vr-20px">
													<li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
													<li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
											</ul>
											<div class="ath-note text-center">
													Don’t have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register-popup"> <strong>Sign up here</strong></a>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div><!-- .modal @e -->

    <!-- Modal @s -->
	<div class="modal fade" id="register-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body bg-theme tc-light">
                        <h5 class="ath-heading title">Sign Up <small class="tc-default">Create New TokenWiz Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <input class="input-checkbox" id="agree-term-2" type="checkbox">
                                <label for="agree-term-2">I agree to Icos <a href="#">Privacy Policy</a> &amp; <a href="#">Terms</a>.</label>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign Up</button>
                        </form>
                        <div class="sap-text"><span>Or Sign Up With</span></div>

                        <ul class="row gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->

    <!-- Modal @s -->
	<div class="modal fade" id="reset-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body bg-theme tc-light">
                        <h5 class="ath-heading title">Reset <small class="tc-default">with your Email</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Reset Password</button>
                            <div class="ath-note text-center">
                                Remembered? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->


	<!-- preloader -->
	<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="<% asset_path('logo-s2-white.png') %>" alt=""></span></div>

</body>
