<body class="nk-body body-wider bg-theme">

	<div class="nk-wrap">
		<header class="nk-header page-header is-transparent is-sticky is-dark" id="header">
		    <!-- Header @s -->
			<div class="header-main">
				<div class="header-container container container-xxl">
					<div class="header-wrap">
						<!-- Logo @s -->
						<div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
							<a href="/" class="logo-link">
								<img class="logo-dark" src="<%= asset_path('indieloot_logo3_1x.png') %>" srcset="<%= asset_path('indieloot_logo3_2x.png') %> 2x" alt="logo">
								<img class="logo-light" src="<%= asset_path('indieloot_logo3_1x.png') %>" srcset="<%= asset_path('indieloot_logo3_2x.png') %> 2x" alt="logo">
							</a>
						</div>

						<!-- Menu Toogle @s -->
						<div class="header-nav-toggle">
							<a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                <div class="toggle-line">
                    <span></span>
                </div>
              </a>
						</div>

						<!-- Menu @s -->
						<div class="header-navbar animated" data-animate="fadeInDown" data-delay=".6">
							<nav class="header-menu" id="header-menu">
    <ul class="menu">
	    <li class="menu-item has-sub">
	        <a class="menu-link nav-link menu-toggle" href="#">Home</a>
	        <div class="menu-sub menu-drop menu-mega menu-mega-3clmn">
	            <div class="menu-mega-innr">
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a href="index-salvia.html">Salvia Pro</a></li>
	                </ul>
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a href="index-azure.html">Azure Dark</a></li>
	                </ul>
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a href="index-dark-pro.html">Default Dark Pro</a></li>
	                </ul>
	            </div>
	        </div>
	    </li>
	    <li class="menu-item has-sub">
	        <a class="menu-link nav-link menu-toggle" href="#">Pages</a>
	        <ul class="menu-sub menu-drop menu-mega menu-mega-2clmn">
	            <div class="menu-mega-innr">
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a class="menu-link nav-link" href="page-about.html">About Us - Base</a></li>
	                </ul>
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a class="menu-link nav-link" href="page-download.html">Download</a></li>
	                </ul>
	            </div>
	        </ul>
	    </li>
	    <li class="menu-item has-sub">
	        <a class="menu-link nav-link menu-toggle" href="#">Blog & Misc</a>
	        <ul class="menu-sub menu-drop">
	            <li class="menu-item has-sub">
	                <a class="menu-link nav-link menu-toggle" href="#">Blog Pages</a>
	                <ul class="menu-sub menu-drop">
	                    <li class="menu-item"><a class="menu-link nav-link" href="blog-3clmn.html">Blog 3 Column</a></li>
	                </ul>
	            </li>
	            <li class="menu-item has-sub">
	                <a class="menu-link nav-link menu-toggle" href="#">Ath Pages</a>
	                <ul class="menu-sub menu-drop">
	                    <li class="menu-item"><a class="menu-link nav-link" href="page-login.html">Login - v1</a></li>
	                </ul>
	            </li>
	            <li class="menu-item has-sub">
	                <a class="menu-link nav-link menu-toggle" href="#">Coming Soon<span class="badge badge-xs badge-info">NEW</span></a>
	                <ul class="menu-sub menu-drop">
	                    <li class="menu-item"><a class="menu-link nav-link" href="coming-soon-azalea.html" target="_blank">Coming Soon - Azalea</a></li>
	                </ul>
	            </li>
	            <li class="menu-item has-sub">
	                <a class="menu-link nav-link menu-toggle" href="#">Error 404<span class="badge badge-xs badge-info">NEW</span></a>
	                <ul class="menu-sub menu-drop">
	                    <li class="menu-item"><a class="menu-link nav-link" href="error-404-gentian.html" target="_blank">404 - Gentian</a></li>
	                </ul>
	            </li>
	        </ul>
	    </li>
	    <li class="menu-item has-sub">
	        <a class="menu-link nav-link menu-toggle" href="#">Elements</a>
	        <div class="menu-sub menu-drop menu-mega menu-mega-2clmn">
	            <div class="menu-mega-innr">
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a href="element-alert.html">Alert</a></li>
	                </ul>
	                <ul class="menu-mega-list">
	                    <li class="menu-item"><a href="element-tab.html">Tabs</a></li>
	                </ul>
	            </div>
	        </div>
	    </li>
	</ul>

    <ul class="menu-btns">
			<li>
				<a href="#" data-toggle="modal" data-target="#register-popup" class="btn btn-md btn-thin btn-outline btn-auto btn-primary btn-round no-change">
					<span>Assinar</span>
				</a>
			</li>
      <li>
				<a href="#" data-toggle="modal" data-target="#login-popup" class="btn btn-md btn-thin btn-outline btn-auto btn-secondary btn-round no-change">
					<span>Entrar</span>
				</a>
			</li>
    </ul>
</nav>
						</div><!-- .header-navbar @e -->
					</div>
				</div>
			</div><!-- .header-main @e -->

            <div class="banner banner-fs tc-light">

                <div class="nk-block nk-block-sm nk-block-header my-auto">
                    <div class="container container-xxl pt-5">
                        <div class="row align-items-center justify-content-center justify-content-lg-between gutter-vr-30px">
                            <div class="col-lg-6 order-lg-last">
                                <div class="banner-gfx banner-gfx-auto animated" data-animate="fadeInUp" data-delay=".7">
                                    <img src="<%= asset_path('lootboxes.png') %>" alt="header">
                                </div>
                            </div><!-- .col -->
                            <div class="col-xl-5 col-lg-6 col-sm-10 text-center text-lg-left">
                                <div class="banner-caption">
                                    <h1 class="title title-lg ttu animated" data-animate="fadeInUp" data-delay=".8">World First Decentralized Marketplace with blockchain infrastructure</h1>
                                    <p class="lead animated" data-animate="fadeInUp" data-delay=".9">The first decentralized Marketplace which makes simplifies and standarizes data with blockchain technology. We provides user-friendly, efficient and secure crypto solutions and utilizing blockchain technology. </p>
                                    <div class="cpn-action animated" data-animate="fadeInUp" data-delay="1">
                                        <a class="btn btn-primary btn-round" href="#">PRIVATE SALE</a>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                </div>


                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container is-fixed particles-bg op-20"></div>

            </div>

		</header>

        <main class="nk-pages tc-light">
            <!-- // -->
            <section class="section" id="mvp">

                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-6">
                            <div class="section-head section-head-s2">
                                <h2 class="title title-xl animated" data-animate="fadeInUp" data-delay="0.1" title="MVP Apps">MVP</h2>
                                <p class="animated" data-animate="fadeInUp" data-delay="0.2">Our project is based on an existing cryptocurrency exchange.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container container-xxl">
                    <div class="nk-block">
                        <div class="row align-items-center justify-content-center justify-content-xl-between gutter-vr-30px">
                            <div class="col-xxl-6 col-xl-6 col-lg-8">
                                <div class="nk-block-img nk-block-plx animated" data-animate="fadeInUp" data-delay="0.3">
                                    <img class="shadow rounded" src="<%= asset_path('sc-medium-b.png') %>" alt="">
                                    <img class="nk-block-img-plx plx-screen shadow rounded" src="<%= asset_path('sc-small-d.jpg') %>" alt="">
                                    <img class="nk-block-img-plx plx-circle plx-circle-s1" src="<%= asset_path('circle-a.png') %>" alt="">
                                    <img class="nk-block-img-plx plx-polygon plx-polygon-s1" src="<%= asset_path('polygon-a.png') %>" alt="">
                                    <img class="nk-block-img-plx plx-triangle plx-triangle-s1" src="<%= asset_path('triangle-a.png') %>" alt="">
                                </div>
                            </div>
                            <div class="col-xxl-5 col-xl-6 col-lg-8">
                                <div class="nk-block-text">
                                    <div class="feature feature-inline animated" data-animate="fadeInUp" data-delay="0.4">
                                        <div class="feature-icon feature-icon-md">
                                            <em class="icon icon-xs icon-circle fas fa-check"></em>
                                        </div>
                                        <div class="feature-text">
                                            <p>Powered by DAP, NEX lets you easily trade crypto-currencies &amp; other digital.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-inline animated" data-animate="fadeInUp" data-delay="0.5">
                                        <div class="feature-icon feature-icon-md">
                                            <em class="icon icon-xs icon-circle fas fa-check"></em>
                                        </div>
                                        <div class="feature-text">
                                            <p>User have full access to trading consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-inline animated" data-animate="fadeInUp" data-delay="0.6">
                                        <div class="feature-icon feature-icon-md">
                                            <em class="icon icon-xs icon-circle fas fa-check"></em>
                                        </div>
                                        <div class="feature-text">
                                            <p>Our multi-cryptocurrency exchange will uis aute irure dolor in reprehenderit in voluptate velit uuntur magni dolores esse cillum.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-inline animated" data-animate="fadeInUp" data-delay="0.7">
                                        <div class="feature-icon feature-icon-md">
                                            <em class="icon icon-xs icon-circle fas fa-check"></em>
                                        </div>
                                        <div class="feature-text">
                                            <p>Traders able to trade with voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-inline animated" data-animate="fadeInUp" data-delay="0.8">
                                        <div class="feature-icon feature-icon-md">
                                            <em class="icon icon-xs icon-circle fas fa-check"></em>
                                        </div>
                                        <div class="feature-text">
                                            <p>Users will be able to take quis nostrum exercitationem ullam corporis susci pitlabo riosam, nisi ut aliquid ex ea commodi consequatur.</p>
                                        </div>
                                    </div>
                                    <div class="text-center text-sm-left animated" data-animate="fadeInUp" data-delay="0.9">
                                        <a href="#" class="btn btn-round btn-primary">Try Demo Free</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- // -->
						<section class="section" id="why">

                <div class="container">
                    <div class="section-head section-head-s9 wide-sm">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Planos</h6>
                        <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">Escolha sua forma de assinatura</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing.</p>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row gutter-vr-30px justify-content-center">
													<a href="#">
                            <div class="col-lg-6 col-md-6">
                                <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-lg my-0">
																			<%= image_tag "medal.png" %>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Plano 1 </span>Experiência básica</h4>
                                        <p>Millions of datasets indexedin culpa qui officia id est laborum</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
													</a>
													<a href="#">
                            <div class="col-lg-6 col-md-6">
                                <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg my-0">
                                        <%= image_tag "trophy.png" %>
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Plano 2 </span>Experiência completa</h4>
                                        <p>Millions of datasets indexedin culpa qui officia id est laborum</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
													</a>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>

            <section class="section" id="contact">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row justify-content-between align-items-center gutter-vr-50px">
                            <div class="col-lg-6">
                                <div class="nk-block-text">
                                    <div class="nk-block-text-head">
                                        <h2 class="title title-lg ttu animated" data-animate="fadeInUp" data-delay="0.7">Contact Us</h2>
                                        <p class="animated" data-animate="fadeInUp" data-delay="0.8">We are always open and we welcome and questions you have for our team. If you wish to get in touch, please fill out the form below. Someone from our team will get back to you shortly.</p>
                                    </div>
                                    <form class="nk-form-submit" action="form/contact.php" method="post">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="field-item animated" data-animate="fadeInUp" data-delay="0.8">
                                                    <label class="field-label ttu">Your Name</label>
                                                    <div class="field-wrap">
                                                        <input name="contact-name" placeholder="Introduce yourself" type="text" class="input-bordered required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="field-item animated" data-animate="fadeInUp" data-delay="0.9">
                                                    <label class="field-label ttu">Your Email</label>
                                                    <div class="field-wrap">
                                                        <input name="contact-email" placeholder="Who do we replay to" type="email" class="input-bordered required email">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field-item animated" data-animate="fadeInUp" data-delay="1.0">
                                            <label class="field-label ttu">Your Message</label>
                                            <div class="field-wrap">
                                                <textarea name="contact-message" placeholder="Leave your question or comment here" class="input-bordered input-textarea required"></textarea>
                                            </div>
                                        </div>
                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                        <div class="row">
                                            <div class="col-sm-5 text-right animated" data-animate="fadeInUp" data-delay="1.1">
                                                <button type="submit" class="btn btn-round btn-primary">SEND</button>
                                            </div>
                                            <div class="col-sm-7 order-sm-first">
                                                <div class="form-results"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-5 text-center order-lg-first">
                                <div class="nk-block-contact nk-block-contact-s1  animated" data-animate="fadeInUp" data-delay="0.1">
                                    <ul class="contact-list">
                                        <li class="animated" data-animate="fadeInUp" data-delay="0.2">
                                            <em class="contact-icon fas fa-phone"></em>
                                            <div class="contact-text">
                                                <span>+44 0123 4567</span>
                                            </div>
                                        </li>
                                        <li class="animated" data-animate="fadeInUp" data-delay="0.3">
                                            <em class="contact-icon fas fa-envelope"></em>
                                            <div class="contact-text">
                                                <span>info@company.com</span>
                                            </div>
                                        </li>
                                        <li class="animated" data-animate="fadeInUp" data-delay="0.4">
                                            <em class="contact-icon fas fa-paper-plane"></em>
                                            <div class="contact-text">
                                                <span>Join us on Telegram</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="nk-circle-animation nk-df-center white small"></div><!-- .circle-animation -->
                                </div>

                                <ul class="social-links social-links-s2 justify-content-center animated" data-animate="fadeInUp" data-delay="0.6">
                                    <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                    <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                                    <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                                    <li><a href="#"><em class="fab fa-github"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                </div>
            </section>

        </main>

        <footer class="nk-footer-bar section section-s tc-light">
            <div class="container container-xxl">
                <div class="row gutter-vr-10px">
                    <div class="col-lg-6 order-lg-last text-lg-right">
                        <ul class="footer-nav">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of sales</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright-text copyright-text-s2">Copyright © 2019 ICO. Handcrafted by <a href="#">iO</a>.</div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="nk-ovm nk-ovm-repeat nk-ovm-fixed shape-i">
            <div class="ovm-line"></div>
        </div>
	</div>

	<!-- Modal @s -->
<div class="modal fade" id="login-popup">
			<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
							<a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
							<div class="ath-container m-0">
									<div class="ath-body bg-theme tc-light">
											<h5 class="ath-heading title">Sign in <small class="tc-default">with your ICO Account</small></h5>
											<form action="#">
													<div class="field-item">
															<div class="field-wrap">
																	<input type="text" class="input-bordered" placeholder="Your Email">
															</div>
													</div>
													<div class="field-item">
															<div class="field-wrap">
																	<input type="password" class="input-bordered" placeholder="Password">
															</div>
													</div>
													<div class="field-item d-flex justify-content-between align-items-center">
															<div class="field-item pb-0">
																	<input class="input-checkbox" id="remember-me-100" type="checkbox">
																	<label for="remember-me-100">Remember Me</label>
															</div>
															<div class="forget-link fz-6">
																	<a href="#" data-toggle="modal" data-dismiss="modal" data-target="#reset-popup">Forgot password?</a>
															</div>
													</div>
													<button class="btn btn-primary btn-block btn-md">Sign In</button>
											</form>
											<div class="sap-text"><span>Or Sign In With</span></div>

											<ul class="row gutter-20px gutter-vr-20px">
													<li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
													<li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
											</ul>
											<div class="ath-note text-center">
													Don’t have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register-popup"> <strong>Sign up here</strong></a>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div><!-- .modal @e -->

    <!-- Modal @s -->
	<div class="modal fade" id="register-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body bg-theme tc-light">
                        <h5 class="ath-heading title">Sign Up <small class="tc-default">Create New TokenWiz Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <input class="input-checkbox" id="agree-term-2" type="checkbox">
                                <label for="agree-term-2">I agree to Icos <a href="#">Privacy Policy</a> &amp; <a href="#">Terms</a>.</label>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign Up</button>
                        </form>
                        <div class="sap-text"><span>Or Sign Up With</span></div>

                        <ul class="row gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->

    <!-- Modal @s -->
	<div class="modal fade" id="reset-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body bg-theme tc-light">
                        <h5 class="ath-heading title">Reset <small class="tc-default">with your Email</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Reset Password</button>
                            <div class="ath-note text-center">
                                Remembered? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->


	<!-- preloader -->
	<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="<% asset_path('indieloot_logo3_2x.png') %>" alt=""></span></div>

</body>
